<h1>Edit Profile<h1>

	<form action="/users/<%=@user.id%>" method="POST">

		<input type="hidden" name="_method" value="patch">
<!-- UNDERSCORE METHOD -->
		<label>Name: </label>
		<input type="text" name="name" value="<%=@user.name%>"><br>
		<label>Email: </label>
		<input text="email" name="email" value="<%=@user.email%>">
		<label>Password: </label>
		<input type="password" name="password" value="<%=@user.password%>">
		<label>Description: </label>	
		<input type="text" name="description" value="<%=@user.password%>">			
		<input type="submit" value="Update profile">
	</form>

